.avatar {
  border-radius: 100px;
  height: 44px;
  width: 50px;
}

.starIcon {
  color: #debe20;
  margin-right: 3px;
}

.filterIcon {
  font-size: 13px;
  color: #638ec3;
  cursor: pointer;
}

span {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #000000ce;
}

a:visited {
  color: rgb(119, 119, 119);
}
