 <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
   <img src="../../../assets/img/pitang.png" width="30" height="30" class="d-inline-block align-top" alt="">
   <a class="navbar-brand" routerLink="/gitInfo">GitProject</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
     aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav">
       <a routerLink="/gitInfo" class="nav-item nav-link">Usuários <span class="sr-only"></span></a>
       <a a routerLink="/ranking" class="nav-item nav-link">Ranking</a>
       <a routerLink="/reporank" style="white-space: nowrap;" class="nav-link">
         Ranking de repositórios
       </a>
       <a routerLink="/historic" class="nav-link">Histórico</a>
     </div>
   </div>
 </nav>
