.avatar {
  border-radius: 100px;
  height: 44px;
  width: 50px;
}

.filterIcon {
  color: #638ec3;
  margin-right: 3px;
}

span {
  font-size: 13px;
}


.theBest {
  color: #debe20;
}

li {
  cursor: pointer;
}
